services:
  dev:
    profiles:
      - dev
    image: your_frontend_app_image_name:dev
    build: ./dev-dockerfile
    command: npm run dev
    ports:
      - 8080:8080
    develop:
      watch:
        - path: .
          target: /app
          action: sync
          initial_sync: true
          ignore:
            - node_modules
